.env
logs/
# Ignore all Python bytecode files
*.pyc
*.pyo
__pycache__/
llm_cache.json
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Ignore virtual environment directories
knowledge_graph.json
test_execution_state.yaml